


@{
    ViewBag.Title = "TravelShare";
}
<script src="https://maps.googleapis.com/maps/api/js"></script>
<div class="page-header">
    <h1> U just got home :)</h1>
</div>
    @model List<TT2_Gala_darbs.Models.StoryModel>
    @{
        foreach (TT2_Gala_darbs.Models.StoryModel entity in Model)
        {
            Html.RenderPartial("EntityContent", entity);
        }
    }


